<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="NorthwindConnection"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\siarhei_frunchak\source\repos\Part 3 Task 1\Part-3\Part 2 Task 1\App_Data\northwnd.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>